Elbow_Curve_Best_K-value.ipynb
Hierarchial_Clustering_Iris.ipynb
K-Means_Iris.ipynb
Pandas_Refresher.ipynb
PCA_Iris.ipynb
Shopping_K-value.ipynb
Shopping_Pandas.ipynb
Trial-and-Error_K-value_Centroids.ipynb
.ipynb_checkpoints/Elbow_Curve_Best_K-value-checkpoint.ipynb
.ipynb_checkpoints/Hierarchial_Clustering_Iris-checkpoint.ipynb
.ipynb_checkpoints/K-Means_Iris-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Refresher-checkpoint.ipynb
.ipynb_checkpoints/PCA_Iris-checkpoint.ipynb
.ipynb_checkpoints/Shopping_K-value-checkpoint.ipynb
.ipynb_checkpoints/Shopping_Pandas-checkpoint.ipynb
.ipynb_checkpoints/Trial-and-Error_K-value_Centroids-checkpoint.ipynb
Resources/iris.csv
Resources/new_iris_data.csv
Resources/shopping_data_cleaned.csv
Resources/shopping_data.csv
